.contenedor{
  display: 'flex';
 justifyContent: 'center';
 padding:'2.25rem';
 marginTop: '25px'

}

.rowSesion{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: 15px;
  margin-left: 15px;

}

.colSesion{
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

.cardSesion{
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  background: rgba(255, 255, 255, 0.6);

}

.cardBodySesion{
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;

}
